doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./src/css/style.css")  
    body
        div(class="app")
            div(class="box_level")
                h1.title_level Выбери сложность
                div(class ="levels" id="levels")
                    input(type="radio" name="level")
                    label(class="level") 1
                    input(type="radio" name="level")
                    label(class="level") 2
                    input(type="radio" name="level")
                    label(class="level") 3
                button(class="start_game") Старт
        div(class="game")
            div.panel
                div.timer
                    div(class="timer_block")
                        div.title min
                        div(class="time minute") 00
                    div.time . 
                    div(class="timer_block")
                        div.title sec
                        div(class="time second") 00    
                div.button-block
                    button.button_restart Начать заново
        div(class="card_block")
            div.cards
                div(class="card_a1 card")
                div(class="card_a2 card")
                div(class="card_a3 card")
                div(class="card_a4 card")
            div.cards
                div(class="card card_k1")
                div(class="card card_k2")
                div(class="card card_k3")
                div(class="card card_k4")
            div.cards
                div(class="card card_q1")
                div(class="card card_q2")
                div(class="card card_q3")
                div(class="card card_q4")
            div.cards
                div(class="card card_j1")
                div(class="card card_j2")
                div(class="card card_j3")
                div(class="card card_j4")
            div.cards
                div(class="card card10_1")
                div(class="card card10_2")
                div(class="card card10_3")
                div(class="card card10_4")
            div.cards
                div(class="card card9_1")
                div(class="card card9_2")
                div(class="card card9_3")
                div(class="card card9_4")
            div.cards
                div(class="card card8_1")
                div(class="card card8_2")
                div(class="card card8_3")
                div(class="card card8_4")
            div.cards
                div(class="card card7_1")
                div(class="card card7_2")
                div(class="card card7_3")
                div(class="card card7_4")
            div.cards  
                div(class="card card6_1")
                div(class="card card6_2")
                div(class="card card6_3")
                div(class="card card6_4")
        script(src="./src/scripts/index.js") 
        