body {
    background-color: #004781;
}

font {
    color: white;
}
.box-level {
    width: 480px;
    height: 459px;
    left: 272px;
    top: 158px;
    
    position: absolute;

    background: #C2F5FF;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.levels{
    display: flex;
    gap: 24px;
    align-items: center;
}

.title_level{
    color:#004781;

    margin-top: 52px;
    margin-bottom: 48px;
    width: 208px;
    height: 96px;
    left: 408px;
    top: 210px;

    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    /* or 120% */
    
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
}
.level {
    color: #0080C1;
 
    width: 96px;
    height: 98px;
    left: 587px;
    top: 354px;

    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    /* or 112% */

    display: flex;
    align-items: center;
    text-align: center;
}
.start-game {
    width: 246px;
    height: 50px;
    left: 389px;
    top: 519px;
    margin-top: 67px;
    margin-bottom: 50px;
    background: #7AC100;
    border-radius: 12px;
    color: white;
    border: 0;
    font-family: 'PT Sans', sans-serif;

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */

   
    align-items: center;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.start-game:hover {
    background: #7AC100;
	color: white;
	box-shadow: inset 0 0 0 3px #0080C1;
}

input[type="radio"]{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);

    
}

input[type="radio"] + label
{
    background: white;
    color: #0080FF;
    height: 98px;
    width: 98px;
    display:inline-block;
    padding: 0 0 0 0px;
    background: #FFFFFF;
    border-radius: 12px;

    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    /* or 112% */

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

input[type="radio"]:checked + label
{
    background: #0080FF;
    height: 16px;
    width: 16px;
    display:inline-block;
    padding: 0 0 0 0px;
}

label:hover{
    background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 0 0 0 3px #3a7999;
}